<p style="color: green"><%= notice %></p>

<%= render @message %>

<div>
  <%= link_to "Edit this greeting", edit_message_path(@message) %> |
  <%= link_to "Back to greetings", messages_path %>

  <%= button_to "Destroy this greeting", @message, method: :delete %>
</div>
